@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
}

.app {
  width: 100vw;
  height: 100vh;
  transition: all 0.3s;
}

.audio-wrapper {
  width: 100vw;
  height: 100vh;
  background: #242424;
  color: #fff;
  padding: 1em;
  transition: all 0.3s;
}
.audio-wrapper .actions-section button {
  margin: 20px 10px;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 1.2rem;
  background-color: #db3333;
  transition: all 0.3s;
  cursor: pointer;
}
.audio-wrapper .actions-section button:focus {
  border: none;
}
.audio-wrapper .actions-section button:hover {
  border-radius: 5px;
}
.audio-wrapper .actions-section button:nth-child(2) {
  transform: scale(1.5);
}
.audio-wrapper .actions-section .volume .button-volume {
  width: 30px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
}
.audio-wrapper .actions-section .volume input {
  -webkit-appearance: none;
  display: block;
  margin: auto;
  width: 0vw;
  height: 5px;
  background-color: #db3333;
  transition: all 0.3s;
}
.audio-wrapper .actions-section .volume input::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-radius: 15px;
}
.audio-wrapper .actions-section .volume input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  cursor: pointer;
}
.audio-wrapper .actions-section .volume input::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.audio-wrapper .actions-section .volume input::-ms-fill-lower, .audio-wrapper .actions-section .volume input::-ms-fill-upper {
  border-radius: 30px;
}
.audio-wrapper .actions-section .volume input::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-appearance: none;
}
.audio-wrapper .actions-section .volume input::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-radius: 15px;
}
.audio-wrapper .actions-section .volume input::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  cursor: pointer;
}
.audio-wrapper .actions-section .volume input:focus::-ms-fill-lower, .audio-wrapper .actions-section .volume input:focus::-ms-fill-upper, .audio-wrapper .actions-section .volume input:-webkit-slider-runnable-track, .audio-wrapper .actions-section .volume input::-ms-thumb, .audio-wrapper .actions-section .volume input::-webkit-slider-thumb, .audio-wrapper .actions-section .volume input:focus::-webkit-slider-runnable-track, .audio-wrapper .actions-section .volume input::-moz-range-thumb, .audio-wrapper .actions-section .volume input::-moz-range-track {
  background: #db3333;
}
.audio-wrapper .actions-section .volume input:focus {
  outline: none;
}
.audio-wrapper .actions-section .volume input:hover {
  height: 20px;
}
.audio-wrapper .info-song h3 {
  letter-spacing: 2px;
  font-weight: 300;
}
.audio-wrapper .info-song .duration {
  margin: auto;
  width: 0vw;
  height: 10px;
  border-radius: 10px;
  background-color: #3e3e3e;
  position: relative;
  overflow: hidden;
  transition: 0.25s;
}
.audio-wrapper .info-song .duration:hover {
  height: 20px;
}
.audio-wrapper .info-song .duration .now {
  position: absolute;
  left: 0;
  background-color: #db3333;
  transition: 0.1s;
  width: 0%;
  height: 100%;
}
.audio-wrapper .select-song {
  width: 65vw;
  height: 10px;
  border-radius: 20px;
  text-align: center;
  margin: 10px auto;
  font-weight: 300;
  font-size: 5px;
  transition: all 0.3s;
}
.audio-wrapper .select-song:hover, .audio-wrapper .select-song:active, .audio-wrapper .select-song:focus {
  font-size: 20px;
  height: 25px;
}
.audio-wrapper .searcher {
  position: relative;
}
.audio-wrapper .searcher input {
  margin-top: 30px;
  border-radius: 10px;
  font-size: 5px;
  text-align: center;
  border: none;
  width: 60vw;
  height: 5px;
  transition: 0.3s;
}
.audio-wrapper .searcher input:hover, .audio-wrapper .searcher input:active, .audio-wrapper .searcher input:focus {
  height: 20px;
  font-size: 14px;
}

@media (max-width: 600px) {
  body {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=main.css.map */
